.klee-one-regular {
  font-family: "Klee One", cursive;
  font-weight: 400;
  font-style: normal;
}

.klee-one-semibold {
  font-family: "Klee One", cursive;
  font-weight: 600;
  font-style: normal;
}

.murecho-regular {
  font-family: "Murecho", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html * {
  font-family: "Klee One", cursive !important;
  font-weight: 400;
  font-style: normal;
}

rt {
  font-family: "Murecho", system-ui !important;
  font-weight: 200 !important;
  letter-spacing: normal !important;
  text-align: center !important;
  font-size: calc(min(50%, 16px)) !important;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
